body{
    background-color: #1E2D3B;
}

header{
    height: 8vh;
    width: 100%;
    background-color: #2E3A46;
}
header img{
    height: 70px;
}

.card{
    background-color: #2E3A46 !important;
    height: 408px;
}